<% const d = new Date()
let year = d.getFullYear() %>
<footer id="footer-text">
  <p class="copyright">&copy; <%= year %>, CSE 340 App - Estefanía Ortíz</p>
  <a href="/inv/detail/99">Error Link</a>
</footer>